.window {
    border: 1px solid #29292994;
    width: 700px;
    box-shadow: 0px 0px 18px -4px rgba(107, 107, 107, 0.67);

    .title-bar {
        background: #ffffff;
        color: #000000;
        width: 100%;
        position: relative;
        height: 32px;
        display: flex;
        .drag-overlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
        }
        .title {
            margin: auto 20px;
        }
        .buttons {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            height: 100%;
            button {
                height: 100%;
                background: none;
                border: 0;
                font-size: 12px;
                padding: 0 19px;
                outline: none;
                &:hover {
                    background: #e6e6e6;
                }
                &:active {
                    background: #c4c4c4;
                }
                &.close:hover {
                    background: #ff5144;
                    color: #ffffff;
                }
                &.close:active {
                    background: #ff5144;
                    opacity: 0.9;
                    color: #ffffff;
                }
            }
        }
    }
}
