@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #191515, #1b2d4e);
    font-family: 'Montserrat', sans-serif;
}

button, input, ul, li {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}


